# temp files
*.log
*.tmp

*.htm
*.sln
*.csproj
.vsconfig

# directories
Library/
Logs/
Temp/
UserSettings/

Build/
.vscode/
.vs/
.git/

*.meta


# scripts
/Assets/Scripts/GameManagercopy.cs
/Assets/Scripts/PlayerScorecopy.cs


